body{
    background-color: #f8f8f8;
    grid-template-columns: repeat(4,1fr);
}
.calc{
	
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
    border: 10px solid;
    background: #fc97df;

}
.input{
    margin-top: 20px;
    border: solid 1px #999999 ;
    radius : 5px;
    background: #ffffff;
}
.judul{
	border: solid;
	border-color: lightblue;
}

.container{
    border-color: #999999;
    padding-left: 20px;
    margin-top: 100px;
    width: 350px;
    border-width: 1px;
    border-style: groove;
    border-radius: 5px;
    padding-bottom: 20px; 

}